# NodeModules
node_modules

# Build Output
.next
.out
dist
.cache
src/data/ai/knowledge-index.json

# Environment Variables
.env
.env.local
.env.example
.env.development
.env.production
.env.test

# Logs
*.log
.npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.DS_Store
Thumbs.db
*.swp
.idea
.vscode

# Temp
tmp
